# Ignore all of the standard Wordpress Install
public/wp/

# Ignore all of the app
public/app/plugins/
public/app/mu-plugins/
public/app/uploads/
public/app/upgrade/
public/app/blogs.dir/
public/app/backup-db/
public/app/cache/
public/app/backups/
public/app/advanced-cache.php
public/app/wp-cache-config.php

# Except for white listed entries
# If you need to version control a custom plugin, or something add it here.
!public/app/plugins/.gitkeep
!public/app/mu-plugins/.gitkeep
!public/app/uploads/.htaccess

# Ignore the assetmini files
public/app/themes/default/assets/min.php
public/app/themes/default/assets/.htaccess
public/app/themes/default/assets/cache/
*.hash
*.min.*

# Ignore Enviroment Variables, except for the example
.env
.env.*
!.env.example

# Composer
vendor/
composer.phar

# Others
.DS_Store
Thumbs.db
