# Attempt to load files from production if they're not in our local version
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteBase /wp-content/uploads/
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteRule ^(.*) http://example.com/wp-content/uploads/$1 [L,P]
#</IfModule>